{
  "openapi": "3.1.0",
  "info": {
    "title": "مستندات API رمزینکس",
    "description": "مستندات اندپوینت‌های رمزینکس"
  },
  "servers": [
    {
      "url": "https://ramzinex.ir/"
    }
  ],
  "paths": {
    "/orderbooks/{pair_id}/buys_sells": {
      "get": {
        "summary": "لیست سفارش های باز ( اردربوک) یک بازار مشخص",
        "description": "برای دریافت لیست سفارشات خرید و فروش موجود در بازار از این نوع درخواست استفاده نمایید:",
        "operationId": "buySellId",
        "parameters": [
          {
            "$ref": "#/components/parameters/PairId"
          }
        ],
        "tags": [
          "اطلاعات بازار (عمومی)"
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "content": {
              "application/json": {
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/GetSellAndBuy"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --location 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/11/buys_sells' \
                      --header 'Content-Type: application/json'"
          },
          {
            "lang": "PHP",
            "source": "<?php

$curl = curl_init();

curl_setopt_array($curl, array(
  CURLOPT_URL => 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/11/buys_sells',
  CURLOPT_RETURNTRANSFER => true,
  CURLOPT_ENCODING => '',
  CURLOPT_MAXREDIRS => 10,
  CURLOPT_TIMEOUT => 0,
  CURLOPT_FOLLOWLOCATION => true,
  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
  CURLOPT_CUSTOMREQUEST => 'GET',
  CURLOPT_HTTPHEADER => array(
    'Content-Type: application/json'
  ),
));

$response = curl_exec($curl);

curl_close($curl);
echo $response;
"
          },
                    {
            "lang": "Python",
            "source": "import requests

url = 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/11/buys_sells'
headers = {
  \"Content-Type\": \"application/json\"
}

response = requests.request('GET', url, headers=headers)
response.raise_for_status()
print(response.json())"
          },
          {
            "lang": "JavaScript",
            "source": "const url = \"https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/11/buys_sells\";
const headers = {
  \"Content-Type\": \"application/json\"
};

const response = await fetch(url, {
  method: \"GET\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
          },
          {
            "lang": "C#",
            "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Get, \"https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/11/buys_sells\");


using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
          }
        ]
      },
      "servers": [
        {
          "url": "https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/"
        }
      ]
    },

    "/orderbooks/buys_sells": {
      "get": {
        "summary": "لیست سفارش های باز ( اردربوک) بازارها",
        "description": "برای دریافت لیست سفارشات خرید و فروش موجود در بازار از این نوع درخواست استفاده نمایید:",
        "operationId": "buySellsId",
        "tags": [
          "اطلاعات بازار (عمومی)"
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "content": {
              "application/json": {
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/GetSellAndBuyAll"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --location 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/buys_sells' \
                      --header 'Content-Type: application/json'"
          },
          {
            "lang": "PHP",
            "source": "<?php

$curl = curl_init();

curl_setopt_array($curl, array(
  CURLOPT_URL => 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/buys_sells',
  CURLOPT_RETURNTRANSFER => true,
  CURLOPT_ENCODING => '',
  CURLOPT_MAXREDIRS => 10,
  CURLOPT_TIMEOUT => 0,
  CURLOPT_FOLLOWLOCATION => true,
  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
  CURLOPT_CUSTOMREQUEST => 'GET',
  CURLOPT_HTTPHEADER => array(
    'Content-Type: application/json'
  ),
));

$response = curl_exec($curl);

curl_close($curl);
echo $response;
"
          },
                    {
            "lang": "Python",
            "source": "import requests

url = 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/buys_sells'
headers = {
  \"Content-Type\": \"application/json\"
}

response = requests.request('GET', url, headers=headers)
response.raise_for_status()
print(response.json())"
          },
          {
            "lang": "JavaScript",
            "source": "const url = \"https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/buys_sells\";
const headers = {
  \"Content-Type\": \"application/json\"
};

const response = await fetch(url, {
  method: \"GET\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
          },
          {
            "lang": "C#",
            "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Get, \"https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/buys_sells\");


using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
          }
        ]
      },
      "servers": [
        {
          "url": "https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/"
        }
      ]
    },

    "/orderbooks/{pair_id}/trades": {
      "get": {
        "summary": "لیست آخرین معاملات بازار",
        "description": "برای دریافت لیست معاملات انجام شده در بازار از این نوع درخواست استفاده نمایید:",
        "operationId": "tradeId",
        "parameters": [
          {
            "$ref": "#/components/parameters/PairId"
          }
        ],
        "tags": [
          "اطلاعات بازار (عمومی)"
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "content": {
              "application/json": {
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/GetTrades"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --location 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/11/trades' \
--header 'Content-Type: application/json'"
          },
          {
            "lang": "PHP",
            "source": "<?php

$curl = curl_init();

curl_setopt_array($curl, array(
  CURLOPT_URL => 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/11/trades',
  CURLOPT_RETURNTRANSFER => true,
  CURLOPT_ENCODING => '',
  CURLOPT_MAXREDIRS => 10,
  CURLOPT_TIMEOUT => 0,
  CURLOPT_FOLLOWLOCATION => true,
  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
  CURLOPT_CUSTOMREQUEST => 'GET',
  CURLOPT_HTTPHEADER => array(
    'Content-Type: application/json'
  ),
));

$response = curl_exec($curl);

curl_close($curl);
echo $response;
"
          },
                    {
            "lang": "Python",
            "source": "import requests

url = 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/11/trades'
headers = {
  \"Content-Type\": \"application/json\"
}

response = requests.request('GET', url, headers=headers)
response.raise_for_status()
print(response.json())"
          },
          {
            "lang": "JavaScript",
            "source": "const url = \"https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/11/trades\";
const headers = {
  \"Content-Type\": \"application/json\"
};

const response = await fetch(url, {
  method: \"GET\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
          },
          {
            "lang": "C#",
            "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Get, \"https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/11/trades\");


using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
          }
        ],
        "servers": [
          {
            "url": "https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/"
          }
        ]      
      }
    },

    "/currencies": {
      "get": {
        "summary": "ارزهای رمزینکس",
        "description": "مشخصات ارزهایی که در رمزینکس خرید و فروش می‌شوند",
        "operationId": "currenciesId",
        "tags": [
          "اطلاعات بازار (عمومی)"
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "content": {
              "application/json": {
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/GetCurrencies"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --location 'https://api.ramzinex.ir/exchange/api/v2.0/exchange/currencies'"
          },
          {
            "lang": "PHP",
            "source": "<?php

$curl = curl_init();

curl_setopt_array($curl, array(
  CURLOPT_URL => 'https://api.ramzinex.ir/exchange/api/v2.0/exchange/currencies',
  CURLOPT_RETURNTRANSFER => true,
  CURLOPT_ENCODING => '',
  CURLOPT_MAXREDIRS => 10,
  CURLOPT_TIMEOUT => 0,
  CURLOPT_FOLLOWLOCATION => true,
  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
  CURLOPT_CUSTOMREQUEST => 'GET',
));

$response = curl_exec($curl);

curl_close($curl);
echo $response;
"
          },
                    {
            "lang": "Python",
            "source": "import requests

url = 'https://api.ramzinex.ir/exchange/api/v2.0/exchange/currencies'
headers = {}

response = requests.request('GET', url, headers=headers)
response.raise_for_status()
print(response.json())"
          },
          {
            "lang": "JavaScript",
            "source": "const url = \"https://api.ramzinex.ir/exchange/api/v2.0/exchange/currencies\";
const headers = {};

const response = await fetch(url, {
  method: \"GET\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
          },
          {
            "lang": "C#",
            "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Get, \"https://api.ramzinex.ir/exchange/api/v2.0/exchange/currencies\");


using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
          }

        ],
        "servers": [
          {
            "url": "https://api.ramzinex.ir/exchange/api/v2.0/exchange"
          }
        ]      
      }
    },

    "/currencies/{id}": {
      "get": {
        "summary": "مشخصات یک ارز مشخص",
        "description": "برای دریافت اطلاعات یک ارز رمزینکس از این نوع درخواست استفاده نمایید",
        "operationId": "aCurrencyId",
        "parameters": [
          {
            "$ref": "#/components/parameters/CurrencyIdV2"
          }
        ],
        "tags": [
          "اطلاعات بازار (عمومی)"
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "content": {
              "application/json": {
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/GetACurrency"
                  }
                }
              }
            }
          }
        },"x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --location 'https://api.ramzinex.ir/exchange/api/v2.0/exchange/currencies/9'"
          },
          {
            "lang": "PHP",
            "source": "<?php

$curl = curl_init();

curl_setopt_array($curl, array(
  CURLOPT_URL => 'https://api.ramzinex.ir/exchange/api/v2.0/exchange/currencies/9',
  CURLOPT_RETURNTRANSFER => true,
  CURLOPT_ENCODING => '',
  CURLOPT_MAXREDIRS => 10,
  CURLOPT_TIMEOUT => 0,
  CURLOPT_FOLLOWLOCATION => true,
  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
  CURLOPT_CUSTOMREQUEST => 'GET',
));

$response = curl_exec($curl);

curl_close($curl);
echo $response;
"
          },
                    {
            "lang": "Python",
            "source": "import requests

url = 'https://api.ramzinex.ir/exchange/api/v2.0/exchange/currencies/9'
headers = {}

response = requests.request('GET', url, headers=headers)
response.raise_for_status()
print(response.json())"
          },
          {
            "lang": "JavaScript",
            "source": "const url = \"https://api.ramzinex.ir/exchange/api/v2.0/exchange/currencies/9\";
const headers = {};

const response = await fetch(url, {
  method: \"GET\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
          },
          {
            "lang": "C#",
            "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Get, \"https://api.ramzinex.ir/exchange/api/v2.0/exchange/currencies/9\");


using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
          }
        ],
        "servers": [
          {
            "url": "https://api.ramzinex.ir/exchange/api/v2.0/exchange/"
          }
        ]      
      }
    },

    "/pairs": {
      "get": {
        "summary": "بازارهای رمزینکس",
        "description": "دریافت مشخصات وضعیت بازارهای رمزینکس",
        "operationId": "pairsId",
        "tags": [
          "اطلاعات بازار (عمومی)"
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "content": {
              "application/json": {
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/GetPairs"
                  }
                }
              }
            }
          }
        },"x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --location 'https://api.ramzinex.ir/exchange/api/v2.0/exchange/pairs'"
          },
          {
            "lang": "PHP",
            "source": "<?php

$curl = curl_init();

curl_setopt_array($curl, array(
  CURLOPT_URL => 'https://api.ramzinex.ir/exchange/api/v2.0/exchange/pairs',
  CURLOPT_RETURNTRANSFER => true,
  CURLOPT_ENCODING => '',
  CURLOPT_MAXREDIRS => 10,
  CURLOPT_TIMEOUT => 0,
  CURLOPT_FOLLOWLOCATION => true,
  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
  CURLOPT_CUSTOMREQUEST => 'GET',
));

$response = curl_exec($curl);

curl_close($curl);
echo $response;
"
          },
                    {
            "lang": "Python",
            "source": "import requests

url = 'https://api.ramzinex.ir/exchange/api/v2.0/exchange/pairs'
headers = {}

response = requests.request('GET', url, headers=headers)
response.raise_for_status()
print(response.json())"
          },
          {
            "lang": "JavaScript",
            "source": "const url = \"https://api.ramzinex.ir/exchange/api/v2.0/exchange/pairs\";
const headers = {};

const response = await fetch(url, {
  method: \"GET\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
          },
          {
            "lang": "C#",
            "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Get, \"https://api.ramzinex.ir/exchange/api/v2.0/exchange/pairs\");


using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
          }
        ],
        "servers": [
          {
            "url": "https://api.ramzinex.ir/exchange/api/v2.0/exchange"
          }
        ]      
      }
    },

    "/pairs/{pair_id}": {
      "get": {
        "summary": "مشخصات یک بازار مشخص",
        "description": "برای دریافت مشخصات یک بازار مشخص از این نوع درخواست استفاده نمایید",
        "operationId": "aPairId",
        "tags": [
          "اطلاعات بازار (عمومی)"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PairId"
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "content": {
              "application/json": {
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/GetAPair"
                  }
                }
              }
            }
          }
        },"x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --location 'https://api.ramzinex.ir/exchange/api/v2.0/exchange/pairs/2'"
          },
          {
            "lang": "PHP",
            "source": "<?php

$curl = curl_init();

curl_setopt_array($curl, array(
  CURLOPT_URL => 'https://api.ramzinex.ir/exchange/api/v2.0/exchange/pairs/2',
  CURLOPT_RETURNTRANSFER => true,
  CURLOPT_ENCODING => '',
  CURLOPT_MAXREDIRS => 10,
  CURLOPT_TIMEOUT => 0,
  CURLOPT_FOLLOWLOCATION => true,
  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
  CURLOPT_CUSTOMREQUEST => 'GET',
));

$response = curl_exec($curl);

curl_close($curl);
echo $response;
"
          },
                    {
            "lang": "Python",
            "source": "import requests

url = 'https://api.ramzinex.ir/exchange/api/v2.0/exchange/pairs/2'
headers = {}

response = requests.request('GET', url, headers=headers)
response.raise_for_status()
print(response.json())"
          },
          {
            "lang": "JavaScript",
            "source": "const url = \"https://api.ramzinex.ir/exchange/api/v2.0/exchange/pairs/2\";
const headers = {};

const response = await fetch(url, {
  method: \"GET\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
          },
          {
            "lang": "C#",
            "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Get, \"https://api.ramzinex.ir/exchange/api/v2.0/exchange/pairs/2\");


using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
          },
        ],
        "servers": [
          {
            "url": "https://api.ramzinex.ir/exchange/api/v2.0/exchange/"
          }
        ]      
      }
    },

    
    "/orderbooks/{pair_id}/market_buy_price": {
      "get": {
        "summary": "قیمت تمام شده خرید یک ارز",
        "description": "قیمت تمام شده خرید یک ارز با مقدار مشخص شده در بازار رمزینکس",
        "operationId": "marketBuyPriceId",
        "tags": [
          "اطلاعات بازار (عمومی)"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PairId"
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "content": {
              "application/json": {
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/GetMarketBuyPrice"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --location 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/11/market_buy_price'"
          },
          {
            "lang": "PHP",
            "source": "<?php

$curl = curl_init();

curl_setopt_array($curl, array(
  CURLOPT_URL => 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/11/market_buy_price',
  CURLOPT_RETURNTRANSFER => true,
  CURLOPT_ENCODING => '',
  CURLOPT_MAXREDIRS => 10,
  CURLOPT_TIMEOUT => 0,
  CURLOPT_FOLLOWLOCATION => true,
  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
  CURLOPT_CUSTOMREQUEST => 'GET',
));

$response = curl_exec($curl);

curl_close($curl);
echo $response;
"
          },

                    {
            "lang": "Python",
            "source": "import requests

url = 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/11/market_buy_price'
headers = {}

response = requests.request('GET', url, headers=headers)
response.raise_for_status()
print(response.json())"
          },
          {
            "lang": "JavaScript",
            "source": "const url = \"https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/11/market_buy_price\";
const headers = {};

const response = await fetch(url, {
  method: \"GET\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
          },
          {
            "lang": "C#",
            "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Get, \"https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/11/market_buy_price\");


using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
          }
          
        ],
        "servers": [
          {
            "url": "https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/"
          }
        ]      
      }
    },

    "/orderbooks/{pair_id}/market_sell_price": {
      "get": {
        "summary": "قیمت تمام شده فروش یک ارز",
        "description": "قیمت تمام شده فروش یک ارز با مقدار مشخص شده در بازار رمزینکس",
        "operationId": "marketSellPriceId",
        "tags": [
          "اطلاعات بازار (عمومی)"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PairId"
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "content": {
              "application/json": {
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/GetMarketSellPrice"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --location 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/11/market_sell_price'"
          },
          {
            "lang": "PHP",
            "source": "<?php

$curl = curl_init();

curl_setopt_array($curl, array(
  CURLOPT_URL => 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/11/market_sell_price',
  CURLOPT_RETURNTRANSFER => true,
  CURLOPT_ENCODING => '',
  CURLOPT_MAXREDIRS => 10,
  CURLOPT_TIMEOUT => 0,
  CURLOPT_FOLLOWLOCATION => true,
  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
  CURLOPT_CUSTOMREQUEST => 'GET',
));

$response = curl_exec($curl);

curl_close($curl);
echo $response;
"
          },

                    {
            "lang": "Python",
            "source": "import requests

url = 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/11/market_sell_price'
headers = {}

response = requests.request('GET', url, headers=headers)
response.raise_for_status()
print(response.json())"
          },
          {
            "lang": "JavaScript",
            "source": "const url = \"https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/11/market_sell_price\";
const headers = {};

const response = await fetch(url, {
  method: \"GET\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
          },
          {
            "lang": "C#",
            "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Get, \"https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/orderbooks/11/market_sell_price\");


using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
          }
          
        ],
        "servers": [
          {
            "url": "https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/"
          }
        ]      
      }
    },

    "/chart/statistics-24": {
      "get": {
        "summary": "آمار 24 ساعته بازارها",
        "description": "برای دریافت آخرین آمار بازارهای رمزینکس در 24 ساعت گذشته از این درخواست استفاده نمایید.",
        "operationId": "statistics24Id",
        "tags": [
          "اطلاعات بازار (عمومی)"
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "content": {
              "application/json": {
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/Statistic24Res"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --location 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/chart/statistics-24'"
          },
          {
            "lang": "PHP",
            "source": "<?php

$curl = curl_init();

curl_setopt_array($curl, array(
  CURLOPT_URL => 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/chart/statistics-24',
  CURLOPT_RETURNTRANSFER => true,
  CURLOPT_ENCODING => '',
  CURLOPT_MAXREDIRS => 10,
  CURLOPT_TIMEOUT => 0,
  CURLOPT_FOLLOWLOCATION => true,
  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
  CURLOPT_CUSTOMREQUEST => 'GET',
));

$response = curl_exec($curl);

curl_close($curl);
echo $response;
"
          },
                    {
            "lang": "Python",
            "source": "import requests

url = 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/chart/statistics-24'
headers = {}

response = requests.request('GET', url, headers=headers)
response.raise_for_status()
print(response.json())"
          },
          {
            "lang": "JavaScript",
            "source": "const url = \"https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/chart/statistics-24\";
const headers = {};

const response = await fetch(url, {
  method: \"GET\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
          },
          {
            "lang": "C#",
            "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Get, \"https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/chart/statistics-24\");


using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
          }
        ]
      },
      "servers": [
        {
          "url": "https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/"
        }
      ]
    },

    "/chart/tv/history": {
      "get": {
        "summary": "کندل ها (آمار OHLC بازارها)",
        "description": "با این درخواست می‌توانید کندل‌های بازارهای رمزینکس را در بازهٔ زمانی مشخص دریافت کنید. مقادیر resolution خارج از مقادیر پشتیبانی‌شده به بازهٔ یک‌ساعته نگاشت می‌شوند.",
        "operationId": "chartHistoryId",
        "tags": [
          "اطلاعات بازار (عمومی)"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/marketSymbol"
          },
          {
            "$ref": "#/components/parameters/resolution"
          },
          {
            "$ref": "#/components/parameters/fromDate"
          },
          {
            "$ref": "#/components/parameters/toDate"
          }
        ],
        
        "responses": {
          "200": {
            "description": "موفق",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "c": {
                  "type": "array",
                      "description": "آخرین قیمت کندل‌ها"
                    },
                    "h": {
                  "type": "array",
                      "description": "بالاترین قیمت کندل‌ها"
                    },
                    "l": {
                  "type": "array",
                      "description": "پایین ترین قیمت کندل‌ها"
                    },
                    "o": {
                  "type": "array",
                      "description": "اولین قیمت کندل‌ها"
                    },
                    "s": {
                  "type": "string",
                      "description": "تعیین وضعیت"
                    },
                    "t": {
                  "type": "array",
                      "description": "زمان شروع کندل‌ها"
                    },
                    "v": {
                  "type": "array",
                      "description": "حجم معاملات کندل‌ها"
                    }
                  }
                },
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/ChartHistoryRes"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --location 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/chart/tv/history?symbol=GOLDIRR&resolution=60&from=1724576847&to=1729760907'"
          },
          {
            "lang": "PHP",
            "source": "<?php

$curl = curl_init();

curl_setopt_array($curl, array(
  CURLOPT_URL => 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/chart/tv/history?symbol=GOLDIRR&resolution=60&from=1724576847&to=1729760907',
  CURLOPT_RETURNTRANSFER => true,
  CURLOPT_ENCODING => '',
  CURLOPT_MAXREDIRS => 10,
  CURLOPT_TIMEOUT => 0,
  CURLOPT_FOLLOWLOCATION => true,
  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
  CURLOPT_CUSTOMREQUEST => 'GET',
));

$response = curl_exec($curl);

curl_close($curl);
echo $response;
"
          },
                    {
            "lang": "Python",
            "source": "import requests

url = 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/chart/tv/history?symbol=GOLDIRR&resolution=60&from=1724576847&to=1729760907'
headers = {}

response = requests.request('GET', url, headers=headers)
response.raise_for_status()
print(response.json())"
          },
          {
            "lang": "JavaScript",
            "source": "const url = \"https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/chart/tv/history?symbol=GOLDIRR&resolution=60&from=1724576847&to=1729760907\";
const headers = {};

const response = await fetch(url, {
  method: \"GET\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
          },
          {
            "lang": "C#",
            "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Get, \"https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/chart/tv/history?symbol=GOLDIRR&resolution=60&from=1724576847&to=1729760907\");


using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
          }
        ]
      },
      "servers": [
        {
          "url": "https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/"
        }
      ]
    },


    "/auth/api_key/getToken": {
      "post": {
        "summary": "دریافت توکن خصوصی",
        "description": 
        "
          <p>
            برای گرفتن API Key ابتدا به بخش <a href='https://ramzinex.ir/app/api-management'> مدیریت API </a> مراجعه کنید. بعد از ساخت API Key کلید محرمانه و API Key خود را در HTTP Body Request خود ارسال کنید.
          </p>
        ",
        "operationId": "getTokenId",
        "tags": [
          "احراز هویت"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTokenReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "موفق",
            "content": {
              "application/json": {
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/GetTokenRes"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --location 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/auth/api_key/getToken' \
                        --header 'Content-Type: application/json' \
                        --data '{
                          \"secret\": \"****\",
                          \"api_key\": \"****\"
                      }'"
          },
          {
            "lang": "PHP",
            "source": "<?php
                        $curl = curl_init();
                        curl_setopt_array($curl, array(
                          CURLOPT_URL => 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/auth/api_key/getToken',
                          CURLOPT_RETURNTRANSFER => true,
                          CURLOPT_ENCODING => '',
                          CURLOPT_MAXREDIRS => 10,
                          CURLOPT_TIMEOUT => 0,
                          CURLOPT_FOLLOWLOCATION => true,
                          CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                          CURLOPT_CUSTOMREQUEST => 'POST',
                          CURLOPT_POSTFIELDS =>'{
                          'secret': '****',
                          'api_key': '****'
                        }',
                          CURLOPT_HTTPHEADER => array(
                            'Content-Type: application/json'
                          ),
                        ));

                        $response = curl_exec($curl);

                        curl_close($curl);
                        echo $response;
                        "
          },

                    {
            "lang": "Python",
            "source": "import requests

url = 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/auth/api_key/getToken'
headers = {
  \"Content-Type\": \"application/json\"
}
payload = {
  \"secret\": \"****\",
  \"api_key\": \"****\"
}

response = requests.request('POST', url, headers=headers, json=payload)
response.raise_for_status()
print(response.json())"
          },
          {
            "lang": "JavaScript",
            "source": "const url = \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/auth/api_key/getToken\";
const headers = {
  \"Content-Type\": \"application/json\"
};
const payload = {
  \"secret\": \"****\",
  \"api_key\": \"****\"
};

const response = await fetch(url, {
  method: \"POST\",
  headers,
  body: JSON.stringify(payload)
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
          },
          {
            "lang": "C#",
            "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Post, \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/auth/api_key/getToken\");

const string payload = @\"{
  \"\"secret\"\": \"\"****\"\",
  \"\"api_key\"\": \"\"****\"\"
}\";
request.Content = new StringContent(payload, Encoding.UTF8, \"application/json\");

using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
          }
          
        ],
        "servers": [
          {
            "url": "https://api.ramzinex.ir/exchange/api/v1.0/exchange"
          }
        ]      
      }
    },
    


    "/funds/available/currency/{currency_id}": {
      "get": {
        "summary": "سرمایه در دسترس کاربر برای یک ارز",
        "description": 
        "
  <div style='min-height: 44px; display: flex; justify-content: end; 
      align-items: center; background-color: #fff8e4; border-radius: 4px;'
      >
    <p style='margin: auto 8px '>
        <p style='font-weight: 600; margin: 0 3px'> نکته: </p>
        .این درخواست نیازمند ارسال توکن است    
        </p>
  </div>
        ",
        "operationId": "availableCurrencyId",
        "tags": [
          "کیف پول"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CurrencyId"
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "content": {
              "application/json": {
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/AvailableCurrency"
                  }
                }
              }
            }
          },
          "401": {
            "description": "ارسال توکن اشتباه"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --location 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/available/currency/9' \
                                            --header 'Authorization2: Bearer ****' \
                      --header 'x-api-key: ****'"
          },
          {
            "lang": "PHP",
            "source": "<?php
                        $curl = curl_init();
                        curl_setopt_array($curl, array(
                          CURLOPT_URL => 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/available/currency/9',
                          CURLOPT_RETURNTRANSFER => true,
                          CURLOPT_ENCODING => '',
                          CURLOPT_MAXREDIRS => 10,
                          CURLOPT_TIMEOUT => 0,
                          CURLOPT_FOLLOWLOCATION => true,
                          CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                          CURLOPT_CUSTOMREQUEST => 'GET',
                          CURLOPT_HTTPHEADER => array(
                                                          'Authorization2: Bearer ****',
  'x-api-key: ****',
                          ),
                        ));
                        $response = curl_exec($curl);

                        curl_close($curl);
                        echo $response;"
          },
                    {
            "lang": "Python",
            "source": "import requests

url = 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/available/currency/9'
headers = {
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
}

response = requests.request('GET', url, headers=headers)
response.raise_for_status()
print(response.json())"
          },
          {
            "lang": "JavaScript",
            "source": "const url = \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/available/currency/9\";
const headers = {
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
};

const response = await fetch(url, {
  method: \"GET\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
          },
          {
            "lang": "C#",
            "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Get, \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/available/currency/9\");
request.Headers.TryAddWithoutValidation(\"Authorization2\", \"Bearer ****\");
request.Headers.TryAddWithoutValidation(\"x-api-key\", \"****\");

using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
          }
          
        ],
        "servers": [
          {
            "url": "https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me"
          }
        ]      
      }
    },

    "/funds/total/currency/{currency_id}": {
      "get": {
        "summary": "سرمایه کل کاربر برای یک ارز",
        "description": 
        "
          <div style='min-height: 44px; display: flex; justify-content: end; 
      align-items: center; background-color: #fff8e4; border-radius: 4px;'
      >
    <p style='margin: auto 8px '>
        <p style='font-weight: 600; margin: 0 3px'> نکته: </p>
        .این درخواست نیازمند ارسال توکن است    
        </p>
  </div>
        "
        ,
        "operationId": "totalCurrencyId",
        "tags": [
          "کیف پول"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CurrencyId"
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "content": {
              "application/json": {
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/AvailableCurrency"
                  }
                }
              }
            }
          },
          "401": {
            "description": "ارسال توکن اشتباه"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --location 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/total/currency/9' \
                      --header 'Authorization2: Bearer ****' \
                      --header 'x-api-key: ****'"
          },
          {
            "lang": "PHP",
            "source": "<?php
                        $curl = curl_init();
                        curl_setopt_array($curl, array(
                          CURLOPT_URL => 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/total/available/currency/9',
                          CURLOPT_RETURNTRANSFER => true,
                          CURLOPT_ENCODING => '',
                          CURLOPT_MAXREDIRS => 10,
                          CURLOPT_TIMEOUT => 0,
                          CURLOPT_FOLLOWLOCATION => true,
                          CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                          CURLOPT_CUSTOMREQUEST => 'GET',
                          CURLOPT_HTTPHEADER => array(
                                                          'Authorization2: Bearer ****',
  'x-api-key: ****',
                          ),
                        ));
                        $response = curl_exec($curl);

                        curl_close($curl);
                        echo $response;"
          },
                    {
            "lang": "Python",
            "source": "import requests

url = 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/total/currency/9'
headers = {
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
}

response = requests.request('GET', url, headers=headers)
response.raise_for_status()
print(response.json())"
          },
          {
            "lang": "JavaScript",
            "source": "const url = \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/total/currency/9\";
const headers = {
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
};

const response = await fetch(url, {
  method: \"GET\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
          },
          {
            "lang": "C#",
            "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Get, \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/total/currency/9\");
request.Headers.TryAddWithoutValidation(\"Authorization2\", \"Bearer ****\");
request.Headers.TryAddWithoutValidation(\"x-api-key\", \"****\");

using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
          }
          
        ],
        "servers": [
          {
            "url": "https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me"
          }
        ]      
      }
    },
    
    
    "/funds/in_orders/currency/{currency_id}": {
      "get": {
        "summary": "میزان سرمایه در حال معامله کاربر",
        "description": 
        "
          <div style='min-height: 44px; display: flex; justify-content: end; 
      align-items: center; background-color: #fff8e4; border-radius: 4px;'
      >
    <p style='margin: auto 8px '>
        <p style='font-weight: 600; margin: 0 3px'> نکته: </p>
        .این درخواست نیازمند ارسال توکن است    
        </p>
  </div>
        ",
        "operationId": "inOrderCurrencyId",
        "tags": [
          "کیف پول"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CurrencyId"
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "content": {
              "application/json": {
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/AvailableCurrency"
                  }
                }
              }
            }
          },
          "401": {
            "description": "ارسال توکن اشتباه"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --location 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/in_orders/currency/9' \
                      --header 'Authorization2: Bearer ****' \
                      --header 'x-api-key: ****'"
          },
          {
            "lang": "PHP",
            "source": "<?php
                        $curl = curl_init();
                        curl_setopt_array($curl, array(
                          CURLOPT_URL => 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/in_orders/available/currency/9',
                          CURLOPT_RETURNTRANSFER => true,
                          CURLOPT_ENCODING => '',
                          CURLOPT_MAXREDIRS => 10,
                          CURLOPT_TIMEOUT => 0,
                          CURLOPT_FOLLOWLOCATION => true,
                          CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                          CURLOPT_CUSTOMREQUEST => 'GET',
                          CURLOPT_HTTPHEADER => array(
                                                          'Authorization2: Bearer ****',
  'x-api-key: ****',
                          ),
                        ));
                        $response = curl_exec($curl);

                        curl_close($curl);
                        echo $response;"
          },
                    {
            "lang": "Python",
            "source": "import requests

url = 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/in_orders/currency/9'
headers = {
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
}

response = requests.request('GET', url, headers=headers)
response.raise_for_status()
print(response.json())"
          },
          {
            "lang": "JavaScript",
            "source": "const url = \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/in_orders/currency/9\";
const headers = {
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
};

const response = await fetch(url, {
  method: \"GET\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
          },
          {
            "lang": "C#",
            "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Get, \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/in_orders/currency/9\");
request.Headers.TryAddWithoutValidation(\"Authorization2\", \"Bearer ****\");
request.Headers.TryAddWithoutValidation(\"x-api-key\", \"****\");

using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
          }
          
        ],
        "servers": [
          {
            "url": "https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me"
          }
        ]      
      }
    },

    "/networks": {
      "get": {
        "summary": "شبکه‌های موجود برای واریز و برداشت یک ارز",
        "description": "برای دریافت لیست شبکه‌های موجود برای واریز یا برداشت از این نوع درخواست استفاده کنید:",
        "operationId": "networksId",
        "tags": [
          "کیف پول"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CurrencyIdQuery"
          },
          {
            "$ref": "#/components/parameters/WithdrawBooleanQuery"
          },
          {
            "$ref": "#/components/parameters/DepositBooleanQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "content": {
              "application/json": {
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/networksRes"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --location 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/networks?currency_id=46&deposit=1&withdraw=1'"
          },
          {
            "lang": "PHP",
            "source": "<?php
                        $curl = curl_init();
                        curl_setopt_array($curl, array(
                          CURLOPT_URL => 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/networks?currency_id=46&deposit=1&withdraw=1',
                          CURLOPT_RETURNTRANSFER => true,
                          CURLOPT_ENCODING => '',
                          CURLOPT_MAXREDIRS => 10,
                          CURLOPT_TIMEOUT => 0,
                          CURLOPT_FOLLOWLOCATION => true,
                          CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                          CURLOPT_CUSTOMREQUEST => 'GET',
                          CURLOPT_HTTPHEADER => array(
                            ': '
                          ),
                        ));
                        $response = curl_exec($curl);
                        curl_close($curl);
                        echo $response;
                        "
          },
                    {
            "lang": "Python",
            "source": "import requests

url = 'https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/networks?currency_id=46&deposit=1&withdraw=1'
headers = {}

response = requests.request('GET', url, headers=headers)
response.raise_for_status()
print(response.json())"
          },
          {
            "lang": "JavaScript",
            "source": "const url = \"https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/networks?currency_id=46&deposit=1&withdraw=1\";
const headers = {};

const response = await fetch(url, {
  method: \"GET\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
          },
          {
            "lang": "C#",
            "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Get, \"https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/networks?currency_id=46&deposit=1&withdraw=1\");


using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
          }
          
        ],
        "servers": [
          {
            "url": "https://publicapi.ramzinex.ir/exchange/api/v1.0/exchange/"
          }
        ]      
      }
    },

    "/users/me/addresses": {
      "get": {
        "summary": "آدرس‌های کاربر",
        "description": 
        "
       <p> برای دریافت آدرس‌های موجود برای یک ارز از این نوع درخواست استفاده کنید </p>
       <p>در صورت ارسال بیش از یک شناسه در networks، فقط اولین مقدار بررسی می‌شود و مقادیر بعدی نادیده گرفته می‌شوند.</p>
        <div style='min-height: 44px; display: flex; justify-content: end; 
            align-items: center; background-color: #fff8e4; border-radius: 4px;'
            >
          <p style='margin: auto 8px '>
              <p style='font-weight: 600; margin: 0 3px'> نکته: </p>
              .این درخواست نیازمند ارسال توکن است    
          </p>
        </div>

        ",
        "operationId": "addressedId",
        "tags": [
          "کیف پول"
        ],
        "parameters": [
          {
            "name": "networks[]",
            "in": "query",
            "required": true,
            "description": "شناسهٔ شبکه‌ها. حداقل یک مقدار لازم است؛ فقط اولین مقدار پردازش می‌شود.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "minItems": 1,
              "example": [116]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "$ref": "#/components/examples/AddressRes"
                  },
                  "example2": {
                    "$ref": "#/components/examples/AddressRes2"
                  }
                }
              }
            }
          },
          "401": {
            "description": "ارسال توکن اشتباه",
          },
          "500": {
            "description": "ارسال آیدی نتورک اشتباه",
          }

        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --get 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/addresses' \
                    --data-urlencode 'networks[]=116' \
                    --header 'Authorization2: Bearer ****' \
                      --header 'x-api-key: ****'"
          },
          {
            "lang": "PHP",
            "source": "<?php

                          $curl = curl_init();

                          curl_setopt_array($curl, array(
                            CURLOPT_URL => 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/addresses?networks%5B%5D=116',
                            CURLOPT_RETURNTRANSFER => true,
                            CURLOPT_ENCODING => '',
                            CURLOPT_MAXREDIRS => 10,
                            CURLOPT_TIMEOUT => 0,
                            CURLOPT_FOLLOWLOCATION => true,
                            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                            CURLOPT_CUSTOMREQUEST => 'GET',
                            CURLOPT_HTTPHEADER => array(
                                                            'Authorization2: Bearer ****',
  'x-api-key: ****',
                            ),
                          ));

                          $response = curl_exec($curl);

                          curl_close($curl);
                          echo $response;
"
          },

                    {
            "lang": "Python",
            "source": "import requests

url = 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/addresses'
headers = {
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
}

response = requests.request('POST', url, headers=headers)
response.raise_for_status()
print(response.json())"
          },
          {
            "lang": "JavaScript",
            "source": "const url = \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/addresses\";
const headers = {
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
};

const response = await fetch(url, {
  method: \"POST\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
          },
          {
            "lang": "C#",
            "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Post, \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/addresses\");
request.Headers.TryAddWithoutValidation(\"Authorization2\", \"Bearer ****\");
request.Headers.TryAddWithoutValidation(\"x-api-key\", \"****\");

using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
          }
          
        ],
        "servers": [
          {
            "url": "https://api.ramzinex.ir/exchange/api/v1.0/exchange/"
          }
        ]      
      }
    },
    
    "/users/me/funds/summaryDesktop": {
      "get": {
        "summary": "دارایی",
        "description": 
        "
        <p>برای دریافت میزان کل دارایی‌های یک کاربر از این درخواست استفاده کنید.</p>
          <div style='min-height: 44px; display: flex; justify-content: end; 
      align-items: center; background-color: #fff8e4; border-radius: 4px;'
      >
    <p style='margin: auto 8px '>
        <p style='font-weight: 600; margin: 0 3px'> نکته: </p>
        .این درخواست نیازمند ارسال توکن است    
        </p>
  </div>
        ",
        "operationId": "summaryDesktop",
        "tags": [
          "کیف پول"
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "content": {
              "application/json": {
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/summaryDesktopRes"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --location 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/summaryDesktop' \
                  --header 'Authorization2: Bearer ****' \
                      --header 'x-api-key: ****'"
          },
          {
            "lang": "PHP",
            "source": "<?php
                        $curl = curl_init();
                        curl_setopt_array($curl, array(
                          CURLOPT_URL => 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/summaryDesktop',
                          CURLOPT_RETURNTRANSFER => true,
                          CURLOPT_ENCODING => '',
                          CURLOPT_MAXREDIRS => 10,
                          CURLOPT_TIMEOUT => 0,
                          CURLOPT_FOLLOWLOCATION => true,
                          CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                          CURLOPT_CUSTOMREQUEST => 'GET',
                          CURLOPT_HTTPHEADER => array(
                                                          'Authorization2: Bearer ****',
  'x-api-key: ****',
                          ),
                        ));
                        $response = curl_exec($curl);
                        curl_close($curl);
                        echo $response;
                        "
          },
                    {
            "lang": "Python",
            "source": "import requests

url = 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/summaryDesktop'
headers = {
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
}

response = requests.request('GET', url, headers=headers)
response.raise_for_status()
print(response.json())"
          },
          {
            "lang": "JavaScript",
            "source": "const url = \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/summaryDesktop\";
const headers = {
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
};

const response = await fetch(url, {
  method: \"GET\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
          },
          {
            "lang": "C#",
            "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Get, \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/summaryDesktop\");
request.Headers.TryAddWithoutValidation(\"Authorization2\", \"Bearer ****\");
request.Headers.TryAddWithoutValidation(\"x-api-key\", \"****\");

using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
          }
          
        ],
        "servers": [
          {
            "url": "https://api.ramzinex.ir/exchange/api/v1.0/exchange/"
          }
        ]      
      }
    },

    "/users/me/funds/refresh": {
      "post": {
        "summary": "بروز رسانی کیف پول",
        "description": "
            <p> برای بروزرسانی کیف پول خود از این درخواست استفاده کنید </p>
              <div style='min-height: 44px; display: flex; justify-content: end; 
          align-items: center; background-color: #fff8e4; border-radius: 4px;'
          >
            <p style='margin: auto 8px '>
                <p style='font-weight: 600; margin: 0 3px'> نکته: </p>
                .این درخواست نیازمند ارسال توکن است    
                </p>
          </div> 
        ",
        "operationId": "refreshId",
        "tags": [
          "کیف پول"
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "content": {
              "application/json": {
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/RefreshFundsRes"
                  }
                }
              }
            }
          },
          "401": {
            "description": "ارسال توکن اشتباه",
          }

        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --location --request POST 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/refresh' \
              --header 'Authorization2: Bearer ****' \
                      --header 'x-api-key: ****'"
          },
          {
            "lang": "PHP",
            "source": "<?php

                  $curl = curl_init();

                  curl_setopt_array($curl, array(
                    CURLOPT_URL => 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/refresh',
                    CURLOPT_RETURNTRANSFER => true,
                    CURLOPT_ENCODING => '',
                    CURLOPT_MAXREDIRS => 10,
                    CURLOPT_TIMEOUT => 0,
                    CURLOPT_FOLLOWLOCATION => true,
                    CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                    CURLOPT_CUSTOMREQUEST => 'POST',
                    CURLOPT_HTTPHEADER => array(
                                                    'Authorization2: Bearer ****',
  'x-api-key: ****',
                    ),
                  ));

                  $response = curl_exec($curl);

                  curl_close($curl);
                  echo $response;
                  "
          },

                    {
            "lang": "Python",
            "source": "import requests

url = 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/refresh'
headers = {
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
}

response = requests.request('POST', url, headers=headers)
response.raise_for_status()
print(response.json())"
          },
          {
            "lang": "JavaScript",
            "source": "const url = \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/refresh\";
const headers = {
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
};

const response = await fetch(url, {
  method: \"POST\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
          },
          {
            "lang": "C#",
            "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Post, \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/refresh\");
request.Headers.TryAddWithoutValidation(\"Authorization2\", \"Bearer ****\");
request.Headers.TryAddWithoutValidation(\"x-api-key\", \"****\");

using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
          }
          
        ],
        "servers": [
          {
            "url": "https://api.ramzinex.ir/exchange/api/v1.0/exchange/"
          }
        ]      
      }
    },
    
    "/users/me/create_address": {
      "post": {
        "summary": "تخصیص آدرس به کیف پول کاربر",
        "description": "
        <p> برای تخصیص آدرس ارز برای کاربر از این درخواست استفاده کنید </p>
          <div style='min-height: 44px; display: flex; justify-content: end; 
            align-items: center; background-color: #fff8e4; border-radius: 4px;'
            >
          <p style='margin: auto 8px '>
              <p style='font-weight: 600; margin: 0 3px'> نکته: </p>
              .این درخواست نیازمند ارسال توکن است    
              </p>
        </div>
        ",
        "operationId": "createAddressId",
        "tags": [
          "کیف پول"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNetworkReq" 
              },
              "examples": {
                "default_example": {
                  "$ref": "#/components/examples/CreateAddressEx" 
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "موفق",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "$ref": "#/components/examples/CreateAddressRes"
                  },
                  "example2": {
                    "$ref": "#/components/examples/RepeatedAddressRes"
                  }
                }
              }
            }
          },
          "422": {
            "description": "ارسال ناقص بدنه‌ی درخواست",
            "content": {
              "application/json": { 
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/WrongCreateNetworkRes"
                  }
                }
              }
            }
          },
          "401": {
            "description": "ارسال توکن اشتباه",
          }

        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --location --request POST 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/refresh' \
              --header 'Authorization2: Bearer ****' \
                      --header 'x-api-key: ****'"
          },
          {
            "lang": "PHP",
            "source": "<?php

                  $curl = curl_init();

                  curl_setopt_array($curl, array(
                    CURLOPT_URL => 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/refresh',
                    CURLOPT_RETURNTRANSFER => true,
                    CURLOPT_ENCODING => '',
                    CURLOPT_MAXREDIRS => 10,
                    CURLOPT_TIMEOUT => 0,
                    CURLOPT_FOLLOWLOCATION => true,
                    CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                    CURLOPT_CUSTOMREQUEST => 'POST',
                    CURLOPT_HTTPHEADER => array(
                                                    'Authorization2: Bearer ****',
  'x-api-key: ****',
                    ),
                  ));

                  $response = curl_exec($curl);

                  curl_close($curl);
                  echo $response;
                  "
          },

                    {
            "lang": "Python",
            "source": "import requests

url = 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/refresh'
headers = {
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
}

response = requests.request('POST', url, headers=headers)
response.raise_for_status()
print(response.json())"
          },
          {
            "lang": "JavaScript",
            "source": "const url = \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/refresh\";
const headers = {
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
};

const response = await fetch(url, {
  method: \"POST\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
          },
          {
            "lang": "C#",
            "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Post, \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/refresh\");
request.Headers.TryAddWithoutValidation(\"Authorization2\", \"Bearer ****\");
request.Headers.TryAddWithoutValidation(\"x-api-key\", \"****\");

using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
          }
          
        ],
        "servers": [
          {
            "url": "https://api.ramzinex.ir/exchange/api/v1.0/exchange/"
          }
        ]      
      }
    },



      "/users/me/funds/deposits": {
        "get": {
          "summary": "مشاهده واریزهای کاربر برای ارزهای مشخص شده",
          "description": "
          
         <p> مشخصات واریزهای انجام شده کاربر برای ارزهای مشخص </p>
            <div style='min-height: 44px; display: flex; justify-content: end; 
      align-items: center; background-color: #fff8e4; border-radius: 4px;'
      >
    <p style='margin: auto 8px '>
        <p style='font-weight: 600; margin: 0 3px'> نکته: </p>
        .این درخواست نیازمند ارسال توکن است    
        </p>
  </div>
          
          ",
          "operationId": "depositsId",
          "tags": [
            "واریزها و برداشت‌ها"
          ],
          "parameters": [
            {
              "name": "currency_type",
              "in": "query",
              "schema": {
                "type": "string",
                "enum": ["rial", "cryptocurrency"]
              }
            },
            {
              "name": "currencies[]",
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "example": [2, 9, 46]
              }
            },
            {
              "name": "limit",
              "in": "query",
              "schema": {
                "type": "integer",
                "maximum": 50,
                "example": 3
              }
            },
            {
              "name": "offset",
              "in": "query",
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "created_at_from",
              "in": "query",
              "schema": {
                "type": "string",
                "format": "date-time"
              }
            },
            {
              "name": "created_at_to",
              "in": "query",
              "schema": {
                "type": "string",
                "format": "date-time"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "موفق",
              "content": {
                "application/json": {
                  "examples": {
                    "default_example": {
                      "$ref": "#/components/examples/DepositListRes"
                    },
                  }
                }
              }
            },
            "401": {
              "description": "ارسال توکن اشتباه",
            }

          },
          "x-codeSamples": [
            {
              "lang": "cURL",
              "source": "curl --get 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/deposits' \
                      --data-urlencode 'limit=3' \
                      --data-urlencode 'offset=1' \
                      --data-urlencode 'currencies[]=2' \
                      --data-urlencode 'currencies[]=9' \
                      --data-urlencode 'currencies[]=46' \
                      --header 'Authorization2: Bearer ****' \
                      --header 'x-api-key: ****'"
            },
            {
              "lang": "PHP",
              "source": "<?php
                          $curl = curl_init();
                          curl_setopt_array($curl, array(
                            CURLOPT_URL => 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/deposits?limit=3&offset=1&currencies%5B%5D=2&currencies%5B%5D=9&currencies%5B%5D=46',
                            CURLOPT_RETURNTRANSFER => true,
                            CURLOPT_ENCODING => '',
                            CURLOPT_MAXREDIRS => 10,
                            CURLOPT_TIMEOUT => 0,
                            CURLOPT_FOLLOWLOCATION => true,
                            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                            CURLOPT_CUSTOMREQUEST => 'GET',
                            CURLOPT_HTTPHEADER => array(
                                                            'Authorization2: Bearer ****',
  'x-api-key: ****',
                            ),
                          ));

                          $response = curl_exec($curl);

                          curl_close($curl);
                          echo $response;
                          "
            },
                        {
              "lang": "Python",
              "source": "import requests

url = 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/deposits'
headers = {
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
}

response = requests.request('POST', url, headers=headers)
response.raise_for_status()
print(response.json())"
            },
            {
              "lang": "JavaScript",
              "source": "const url = \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/deposits\";
const headers = {
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
};

const response = await fetch(url, {
  method: \"POST\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
            },
            {
              "lang": "C#",
              "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Post, \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/deposits\");
request.Headers.TryAddWithoutValidation(\"Authorization2\", \"Bearer ****\");
request.Headers.TryAddWithoutValidation(\"x-api-key\", \"****\");

using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
            }
            
          ],
          "servers": [
            {
              "url": "https://api.ramzinex.ir/exchange/api/v1.0/exchange/"
            }
          ]      
        }
      },

      "/users/me/funds/deposits/{deposit_id}": {
        "get": {
          "summary": "مشخصات یک واریز مشخص",
          "description": 
          "
            <div style='min-height: 44px; display: flex; justify-content: end; 
              align-items: center; background-color: #fff8e4; border-radius: 4px;'
              >
            <p style='margin: auto 8px '>
                <p style='font-weight: 600; margin: 0 3px'> نکته: </p>
                .این درخواست نیازمند ارسال توکن است    
                </p>
          </div>
          ",
          "operationId": "specialDepositId",
          "tags": [
            "واریزها و برداشت‌ها"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/DepositQuery"
            }
          ],
          "responses": {
            "200": {
              "description": "موفق",
              "content": {
                "application/json": {
                  "examples": {
                    "default_example": {
                      "$ref": "#/components/examples/SpecialDepositRes"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "موفق",
            }
          },
          "x-codeSamples": [
            {
              "lang": "cURL",
              "source": "curl --location 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/deposits/10412179' \
            --header 'Authorization2: Bearer ****' \
                      --header 'x-api-key: ****'"
            },
            {
              "lang": "PHP",
              "source": "<?php
                      $curl = curl_init();

                      curl_setopt_array($curl, array(
                        CURLOPT_URL => 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/deposits/10412179',
                        CURLOPT_RETURNTRANSFER => true,
                        CURLOPT_ENCODING => '',
                        CURLOPT_MAXREDIRS => 10,
                        CURLOPT_TIMEOUT => 0,
                        CURLOPT_FOLLOWLOCATION => true,
                        CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                        CURLOPT_CUSTOMREQUEST => 'GET',
                        CURLOPT_HTTPHEADER => array(
                                                        'Authorization2: Bearer ****',
  'x-api-key: ****',
                        ),
                      ));

                      $response = curl_exec($curl);

                      curl_close($curl);
                      echo $response;
"
            },
                        {
              "lang": "Python",
              "source": "import requests

url = 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/deposits/10412179'
headers = {
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
}

response = requests.request('GET', url, headers=headers)
response.raise_for_status()
print(response.json())"
            },
            {
              "lang": "JavaScript",
              "source": "const url = \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/deposits/10412179\";
const headers = {
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
};

const response = await fetch(url, {
  method: \"GET\",
  headers
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
            },
            {
              "lang": "C#",
              "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Get, \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/deposits/10412179\");
request.Headers.TryAddWithoutValidation(\"Authorization2\", \"Bearer ****\");
request.Headers.TryAddWithoutValidation(\"x-api-key\", \"****\");

using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
            }
            
          ],
          "servers": [
            {
              "url": "https://api.ramzinex.ir/exchange/api/v1.0/exchange/"
            }
          ]      
        }
      },
      
      "/users/me/funds/withdraws": {
        "get": {
          "summary": "مشخصات برداشت‌ها",
          "description": 
          "
            <p>برای دریافت مشخصات برداشت‌های یک ارز کاربر از این درخواست استفاده کنید </p>
            <div style='min-height: 44px; display: flex; justify-content: end; 
              align-items: center; background-color: #fff8e4; border-radius: 4px;'
              >
              <p style='margin: auto 8px '>
                  <p style='font-weight: 600; margin: 0 3px'> نکته: </p>
                  .این درخواست نیازمند ارسال توکن است    
              </p>
            </div>
          ",
          "operationId": "withdrawsId",
          "tags": [
            "واریزها و برداشت‌ها"
          ],
          "requestBody": {
            "required": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyWithdrawsReq"
                },
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/WithdrawListReq"
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "موفق",
              "content": {
                "application/json": {
                  "examples": {
                    "default_example": {
                      "$ref": "#/components/examples/WithdrawListRes"
                    },
                  }
                }
              }
            },
            "401": {
              "description": "ارسال توکن اشتباه",
            }

          },
          "x-codeSamples": [
            {
              "lang": "cURL",
              "source": "curl --location --request GET 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/withdraws' \
                      --header 'Content-Type: application/json' \
                      --header 'Authorization2: Bearer ****' \
                      --header 'x-api-key: ****' \
                      --data '{
                          \"currency_id\" : 6
                      }'"
            },
            {
              "lang": "PHP",
              "source": "<?php\n
                            $curl = curl_init();\n
                            curl_setopt_array($curl, array(\n
                              CURLOPT_URL => 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/withdraws',\n
                              CURLOPT_RETURNTRANSFER => true,\n
                              CURLOPT_ENCODING => '',\n
                              CURLOPT_MAXREDIRS => 10,\n
                              CURLOPT_TIMEOUT => 0,\n
                              CURLOPT_FOLLOWLOCATION => true,\n
                              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n
                              CURLOPT_CUSTOMREQUEST => 'GET',\n
                              CURLOPT_POSTFIELDS => '{\"currency_id\": 6}',\n
                              CURLOPT_HTTPHEADER => array(\n
                                'Content-Type: application/json',\n
                                                'Authorization2: Bearer ****', \n
                                  'x-api-key: ****',\n
                              ),\n
                            ));\n\n
                            $response = curl_exec($curl);\n\n
                            curl_close($curl);\n
                            echo $response;\n
                        "
            },
                        {
              "lang": "Python",
              "source": "import requests

url = 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/withdraws'
headers = {
  \"Content-Type\": \"application/json\",
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
}
payload = {
  \"currency_id\": 6
}

response = requests.request('GET', url, headers=headers, json=payload)
response.raise_for_status()
print(response.json())"
            },
            {
              "lang": "JavaScript",
              "source": "const url = \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/withdraws\";
const headers = {
  \"Content-Type\": \"application/json\",
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
};
const payload = {
  \"currency_id\": 6
};

const response = await fetch(url, {
  method: \"GET\",
  headers,
  body: JSON.stringify(payload)
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
            },
            {
              "lang": "C#",
              "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Get, \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/withdraws\");
request.Headers.TryAddWithoutValidation(\"Authorization2\", \"Bearer ****\");
request.Headers.TryAddWithoutValidation(\"x-api-key\", \"****\");
const string payload = @\"{
  \"\"currency_id\"\": 6
}\";
request.Content = new StringContent(payload, Encoding.UTF8, \"application/json\");

using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
            }
            
          ],
          "servers": [
            {
              "url": "https://api.ramzinex.ir/exchange/api/v1.0/exchange/"
            }
          ]      
        }
      },


      "/users/me/funds/withdraws/currency/{currency_id}": {
        "post": {
          "summary": "درخواست برداشت ارز",
          "description": 
          "
          <p>درخواست برداشت ارز به یک آدرس مشخص</p>
            <div style='min-height: 44px; display: flex; justify-content: end; 
              align-items: center; background-color: #fff8e4; border-radius: 4px;'
              >
            <p style='margin: auto 8px '>
                <p style='font-weight: 600; margin: 0 3px'> نکته: </p>
                .این درخواست نیازمند ارسال توکن است    
                </p>
          </div>
          ",
          "operationId": "withdrawRequestId",
          "tags": [
            "واریزها و برداشت‌ها"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/CurrencyId"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawRequestReq"
                },
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/WithdrawReqReq"
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "موفق",
              "content": {
                "application/json": {
                  "examples": {
                    "example1": {
                    "$ref": "#/components/examples/WithdrawCreateRes"
                    },
                    "example2": {
                      "$ref": "#/components/examples/WithdrawRequestErrorRes"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "ارسال توکن اشتباه",
            }

          },
          "x-codeSamples": [
            {
              "lang": "cURL",
              "source": "curl --location 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/withdraws/currency/166' \
                        --header 'Content-Type: application/json' \
                        --header 'Authorization2: Bearer ****' \
                      --header 'x-api-key: ****' \
                        --data '{
                        \"amount\": 0.5,
                        \"address\": '0x484E993a8B4b731E8e1801777722109f3953b6bF',
                        \"network_id\": 303,
                        \"currency_id\": 166,
                        \"tag\": '1234',
                        \"no_tag\": false
                        }'"
            },
            {
              "lang": "PHP",
              "source": "<?php\n
                            $curl = curl_init();\n
                            curl_setopt_array($curl, array(\n
                              CURLOPT_URL => 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/withdraws/currency/166',\n
                              CURLOPT_RETURNTRANSFER => true,\n
                              CURLOPT_ENCODING => '',\n
                              CURLOPT_MAXREDIRS => 10,\n
                              CURLOPT_TIMEOUT => 0,\n
                              CURLOPT_FOLLOWLOCATION => true,\n
                              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n
                              CURLOPT_CUSTOMREQUEST => 'POST',\n
                              CURLOPT_POSTFIELDS => '{\n
                                  \"amount\": 0.5,\n
                                  \"address\": \"0x484E993a8B4b731E8e1801777722109f3953b6bF\",\n
                                  \"network_id\": 303,\n
                                  \"currency_id\": 166,\n
                                  \"tag\": \"1234\",\n
                                  \"no_tag\": false\n
                              }',\n
                              CURLOPT_HTTPHEADER => array(\n
                                'Content-Type: application/json',\n
                                                              'Authorization2: Bearer ****', \n
  'x-api-key: ****',\n
                              ),\n
                            ));\n
                            $response = curl_exec($curl);\n
                            curl_close($curl);\n
                            echo $response;\n
                        "
            },
                        {
              "lang": "Python",
              "source": "import requests

url = 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/withdraws/currency/166'
headers = {
  \"Content-Type\": \"application/json\",
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
}
payload = {
  \"amount\": 0.5,
  \"address\": \"0x484E993a8B4b731E8e1801777722109f3953b6bF\",
  \"network_id\": 303,
  \"currency_id\": 166,
  \"tag\": \"1234\",
  \"no_tag\": false
}

response = requests.request('POST', url, headers=headers, json=payload)
response.raise_for_status()
print(response.json())"
            },
            {
              "lang": "JavaScript",
              "source": "const url = \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/withdraws/currency/166\";
const headers = {
  \"Content-Type\": \"application/json\",
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
};
const payload = {
  \"amount\": 0.5,
  \"address\": \"0x484E993a8B4b731E8e1801777722109f3953b6bF\",
  \"network_id\": 303,
  \"currency_id\": 166,
  \"tag\": \"1234\",
  \"no_tag\": false
};

const response = await fetch(url, {
  method: \"POST\",
  headers,
  body: JSON.stringify(payload)
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
            },
            {
              "lang": "C#",
              "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Post, \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/withdraws/currency/166\");
request.Headers.TryAddWithoutValidation(\"Authorization2\", \"Bearer ****\");
request.Headers.TryAddWithoutValidation(\"x-api-key\", \"****\");
const string payload = @\"{
  \"\"amount\"\": 0.5,
  \"\"address\"\": \"\"0x484E993a8B4b731E8e1801777722109f3953b6bF\"\",
  \"\"network_id\"\": 303,
  \"\"currency_id\"\": 166,
  \"\"tag\"\": \"\"1234\"\",
  \"\"no_tag\"\": false
}\";
request.Content = new StringContent(payload, Encoding.UTF8, \"application/json\");

using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
            }
            
          ],
          "servers": [
            {
              "url": "https://api.ramzinex.ir/exchange/api/v1.0/exchange/"
            }
          ]      
        }
      },
      
      "/users/me/funds/withdraws/{withdraw_id}/verify": {
        "post": {
          "summary": "تایید یک برداشت",
          "description": 
          "
            <p>برای تایید یک برداشت، کد ارسال شده در پیامک و کد Google Authenticator (در صورت فعالسازی) را به این درخواست ارسال کنید.</p>
            <div style='min-height: 44px; display: flex; justify-content: end; 
                align-items: center; background-color: #fff8e4; border-radius: 4px;'
                >
                  <p style='margin: auto 8px '>
                  <p style='font-weight: 600; margin: 0 3px'> نکته: </p>
                  .این درخواست نیازمند ارسال توکن است    
                  </p>
            </div>
          ",
          "operationId": "VerifyWithdrawId",
          "tags": [
            "واریزها و برداشت‌ها"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/WithdrawId"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyWithdrawReq"
                },
                "examples": {
                  "default_example": {
                    "$ref": "#/components/examples/VerifyWithdrawEx"
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "موفق",
              "content": {
                "application/json": {
                  "examples": {
                    "example1": {
                    "$ref": "#/components/examples/VerifyWithdrawRes"
                    },
                    "example2": {
                      "$ref": "#/components/examples/VerifyWithdrawErrorRes"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "ارسال توکن اشتباه",
            }

          },
          "x-codeSamples": [
            {
              "lang": "cURL",
              "source": "curl --location --globoff 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/withdraws/{{withdraw_id}}/verify' \
                      --header 'Content-Type: application/json' \
                      --header 'Authorization2: Bearer ****' \
                      --header 'x-api-key: ****' \
                      --data '{
                          \"code\" : \"557018\",
                          \"gaCode\" : \"394570\"
                      }'"
            },
            {
              "lang": "PHP",
              "source": "<?php
                            $curl = curl_init();
                            curl_setopt_array($curl, array(
                              CURLOPT_URL => 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/withdraws/{{withdraw_id}}/verify',
                              CURLOPT_RETURNTRANSFER => true,
                              CURLOPT_ENCODING => '',
                              CURLOPT_MAXREDIRS => 10,
                              CURLOPT_TIMEOUT => 0,
                              CURLOPT_FOLLOWLOCATION => true,
                              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                              CURLOPT_CUSTOMREQUEST => 'POST',
                              CURLOPT_POSTFIELDS =>'{
                                'code' : '557018',
                                'gaCode' : '394570'
                            }',
                              CURLOPT_HTTPHEADER => array(
                                'Content-Type: application/json',
                                                              'Authorization2: Bearer ****',
  'x-api-key: ****',
                              ),
                            ));
                            $response = curl_exec($curl);
                            curl_close($curl);
                            echo $response;
                            "
            },
                        {
              "lang": "Python",
              "source": "import requests

url = 'https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/withdraws/{{withdraw_id}}/verify'
headers = {
  \"Content-Type\": \"application/json\",
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
}
payload = {
  \"code\": \"557018\",
  \"gaCode\": \"394570\"
}

response = requests.request('POST', url, headers=headers, json=payload)
response.raise_for_status()
print(response.json())"
            },
            {
              "lang": "JavaScript",
              "source": "const url = \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/withdraws/{{withdraw_id}}/verify\";
const headers = {
  \"Content-Type\": \"application/json\",
  \"Authorization2\": \"Bearer ****\",
  \"x-api-key\": \"****\"
};
const payload = {
  \"code\": \"557018\",
  \"gaCode\": \"394570\"
};

const response = await fetch(url, {
  method: \"POST\",
  headers,
  body: JSON.stringify(payload)
});

if (!response.ok) throw new Error(`HTTP ${response.status}`);
console.log(await response.json());"
            },
            {
              "lang": "C#",
              "source": "using System.Net.Http;
using System.Text;

using var client = new HttpClient();
using var request = new HttpRequestMessage(HttpMethod.Post, \"https://api.ramzinex.ir/exchange/api/v1.0/exchange/users/me/funds/withdraws/{{withdraw_id}}/verify\");
request.Headers.TryAddWithoutValidation(\"Authorization2\", \"Bearer ****\");
request.Headers.TryAddWithoutValidation(\"x-api-key\", \"****\");
const string payload = @\"{
  \"\"code\"\": \"\"557018\"\",
  \"\"gaCode\"\": \"\"394570\"\"
}\";
request.Content = new StringContent(payload, Encoding.UTF8, \"application/json\");

using var response = await client.SendAsync(request);
response.EnsureSuccessStatusCode();
Console.WriteLine(await response.Content.ReadAsStringAsync());"
            }
            
          ],
          "servers": [
            {
              "url": "https://api.ramzinex.ir/exchange/api/v1.0/exchange/"
            }
          ]      
        }
      },
      
      "/users/me/funds/withdraws/{withdraw_id}/cancel": {
        "post": {
          "summary": "لغو یک برداشت",
          "description": 
          "
[...]
